// Fonts
$mainFont: 'Raleway', sans-serif;
$secondaryFont: 'Staatliches', sans-serif;

// Media Queries
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px; 

// Colors
$primary: #B8336A;
$secondary: #0a7a86;
$tertiary:  #dd5901;
$black: #000;
$white: #FFFFFF;
$gray: #484349;
$lightGray: #F2F2F2;

// Units 
$gutter: 3.5rem;